parameters:
  watch:
    directories:
      - /home/goforbroke/AndroidStudioProjects
      - /home/goforbroke/CLionProjects
      - /home/goforbroke/IdeaProjects
      - /home/goforbroke/projects
      - /home/goforbroke/PycharmProjects
    matches:
      whitelist:
        - "(.*)\\.sh$"
        - "(.*)\\.c$"
        - "(.*)\\.cpp$"
        - "(.*)\\.h$"
        - "Makefile"
        - "CMakeLists.txt"
        - "(.*)\\.go$"
        - "(.*)\\.toml$"
        - "(.*)\\.yml$"
        - "(.*)\\.yaml$"
        - "(.*)\\.php$"
        - "(.*)\\.html$"
        - "(.*)\\.twig$"
        - "(.*)\\.css$"
        - "(.*)\\.js$"
        - "(.*)\\.java$"
        - "(.*)\\.xml$"
        - "(.*)\\.properties$"
        - "pom\\.xml"
        - "(.*)\\.wsdl"
      blacklist:
        - "dependency-reduced-pom.xml"

        - "/cache/"
        - "/build/"
        - "/debug/"
        - "/plugins/"
        - "/dist/"
        - "/examples/"
        - "/samples/"
        - "/lib/"
        - "/libs/"
        - ".idea"
        - "/vendor"

        - ".externalNativeBuild"
        - "proxies/__CG__"
        - "cmake-build-debug"

        - "target/classes"
        - "locale/(.*).js$"
        - "/lang/(.*).js$"
        - "i18n/(.*).js$"
        - "tests/(.*).js$"
        - "/jvectormap/(.*).(js|html|css)$"
        - "/jquery(.*)/(.*).(js|html|css)$"
        - "/morris.js/(.*).(js|html|css)$"
        - "/moment/(.*).(js|html|css)$"
        - "/ion.rangeSlider/(.*).(js|html|css)$"
        - "/datatables.net-bs/(.*).(js|html|css)$"
        - "/chartjs/(.*).(js|html|css)$"
        - "/Ionicons/(.*).(js|html|css)$"
        - "/Flot/(.*).(js|html|css)$"
        - "/raphael/(.*).js$"
        - "min.js$"
        - "/select2/"
        - "/font-awesome/"
        - "/ckeditor/"
        - "AdminLTE"
        - "/bootstrap(.*).(js|html|css)"
        - "/themes/(.*).css$"
